{% extends 'index.html' %}
{%block title%}Terms & Conditions {% endblock %}
{%block content%}
{% load static %}
<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12">
					<div class="single-page-title">
						<h6>AMTZ-VILLA</h6>
						<span></span>
						<h2>Terms & Conditions</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-12">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/">Home</a></li>
					  <li class="breadcrumb-item active">Villa Terms & Conditions</li>
					</ol>
				</div>
			</div>
			<!-- end row-->
		</div>
</section>
<section class="pages cart-page section-padding" style="padding: 44px 0;">
		<div class="auto-container">
			<div class="row">
				<div class="col-12 p-4 ml-4">
					<h5>Bookings Terms & Conditions</h5>
					<p>All rates are quoted in INR which are inclusive of the government tax and service charge.</p>
					<p>Rates are subject to change without prior notice.</p>
					<p>Payment shall be made by the platform of gateway only.(debit card, credit card and netbanking.)</p>
					<p>Reservations will be released automatically or no booking would be done if full payment is not received by the Villa’s.</p>
					<p>Should guests arrive with prepayment, the Amtz's  Villa reserves the right to collect full payment upon booking.</p>
					<p>Check-in time is 12.00 noon and check-out time is 10.00 am.</p>
					<p>Early check-in is subject to room availability.</p>
					<p>For late check-out requests, additional charge will be applied.</p>
					<p>No Show or short stay & High season cancellation 100% will be charged.</p>
					<br>
					<h5>Villas’s Rules And Management policies </h5>
					<p>In Order to make your stay as pleasant as possible, the villa’s Management requests
						your co-operation in observing the following as an agreement between the guest and
						Amtz's Villa under which rooms are permitted to be used by the guest</p><br>
					<h5>1. Check-in / Arrival </h5>
					<p>Check-in time is at 12.00 noon; please present your Identity card, Passport or Temporary Residence Card upon Check-in. By Law visitors must present personal
						documents for Amtz's Villa records upon request such as villa voucher/ confirmation</p><br>
					<h5>2. Check out / Departure</h5>
					<p>Check out time is at 10.00 am; Extension will be done online subject to availability and payment. </p><br>
					<h5>3. Early Check-in & Late Check-out</h5>
					<p>We are pleased to accommodate early arrival, subject to availability. Please make your request as early as possible to ensure availability.
						To guarantee early arrival, the room must be booked and paid for the prior night.</p><br>
					<h5>4. Settlement of Bills</h5>
					<p> Bills must be settled before check-in by the mode of gateway only</p><br>

					<h5>5. Cancellation Policy, No-Show & Short Stay</h5>
					<p>Once booking is confirmed, no cancellation policy will be applicable and the paid amount will also be non- refundable.</p><br>
<!--				<p>AMTZ SERVICES MAY BE USED BY YOU TO REQUEST AND SCHEDULE TRANSPORTATION,-->
<!--					GOODS, OR LOGISTICS SERVICES WITH THIRD PARTY CUSTOMERS, BUT YOU AGREE THAT-->
<!--					AMTZ HAS NO RESPONSIBILITY OR LIABILITY TO YOU RELATED TO ANY TRANSPORTATION,-->
<!--					GOODS OR LOGISTICS SERVICES PROVIDED TO YOU BY THIRD PARTY CUSTOMERS OTHER THAN AS EXPRESSLY SET FORTH IN THESE TERMS.</p><br>-->
					<h5>6. Lost & Found </h5>
					<p>The Villa’s Management will not in any way whatsoever be responsible for any loss / or damage to the Guest's valuable/article. Should any guests lose personal belongings while staying at the Amtz's  Villa, if recovered, the item will be recorded as 'found'. Amtz's  Villa keeps detailed records of all 'found' items, and will make a reasonable effort to contact the guest if an item is left in the Amtz's  Villa's guest room after the guest has checked-out which will be placed in our Lost & Found store/safe box.
						We will ship items back at the owner's expense upon request.
						Any items, which are not claimed within thirty (30) days, will be donated to a local charity or discarded.</p><br>
					<p>However, the party shall be entitled to raise a dispute only after clearing the dues payable by such party.</p><br>
					<h5>7. Guest's Belongings in rooms </h5>
					<p>Guests are particularly requested to lock the door of their rooms when going out or going to bed.
						The villa’s Management will not in any way whatsoever be responsible for any loss / or damage to the Guest's belongings or any other property from either the villa’s room
						or any other part of the Amtz's Villa for any cause whatsoever including theft of pilferage.</p>
					<h5>8. Damage to Amtz's  Villa Property </h5>
					<p>The guest will be held responsible for any loss or damage to the villa’s property caused by themselves, their guests or any person for whom they are responsible.</p><br>
					<h5>9. Pet Policy </h5>
					<p>No pets are allowed in the Villa’s premises.</p><br>
					<h5>10. Smoking & Drinking Alcohol Policy</h5>
					<p>Smoking and drinking alcohol are prohibited in all the enclosed areas within the villa.
						If a smoking and drinking alcohol violation occurs in a room, the clause no.13 shall be applicable.
						We appreciate your cooperation in ensuring that our guests and employees are not subject to second hand smoke.</p><br>
					<h5>11. Disturbance </h5>
					<p>The Villa’s Management reserves the right to require a guest to leave if he/she is causing a disturbance, annoying other guests or Amtz's  Villa staff or is behaving in an unacceptable manner.
						It is agreed that the guest will conduct himself/herself in a respectable manner and will not cause any nuisance or annoyance within the villa’s premise. </p><br>
					<h5>12. Housekeeping Service </h5>
					<p>We provide housekeeping service everyday between the hours of 10AM to 5:00 PM on call. </p><br>
					<h5>13. Management's Rights on Guests.</h5>
					<p>The Amtz's  Villas management has the right to request any guest to vacate his/her room or other areas of the
						Amtz's  Villa forthwith, without previous notice and without assigning any reason whatsoever, and
						the guest shall be bound to vacate when requested to do so.</p><br>
					<h5>14. Relation between Management and Guest</h5>
					<p>Nothing herein above shall continue or be deemed to constitute,
						or create any tenancy or sub-tenancy, or any other right to interact in the Amtz's  Villa premises or any part of portion thereof, in favor of any Guest or resident or visitor,
						and the Management shall always be deemed to be in full and absolute possession of the whole of the villa’s premises.</p><br>
				<h5>15. Government rules and regulations & application of laws </h5>
					<p>Guests are requested to observe, abide by, confirm to and be bound by all applicable acts and laws and Government rules and regulations in force from time to time.</p><br>
					<h5>16. Photographs & Videos </h5>
					<p>Using photographs and videos taken in villa for commercial or public purposes is illegal. Those who do so will be subject to prosecution.</p><br>
					<h5>General Policy</h5>
					<p>The Amtz's  Villa has a zero tolerance policy in which it will refuse to admit or refuse service or
						accommodation in the Amtz's  Villa or may remove a person who: while on the premises of the Amtz's
						Villa acts in an obviously intoxicated or disorderly manner, destroys or threatens to destroy Amtz's
						Villa property, or causes or threatens to cause a public disturbance; or refuses or is unable to pay
						for the accommodations or services.</p><br>
					<p>Amtz's  Villa may limit the number of persons who may occupy a particular guest room in the Amtz's
						Villa and will only allow registered guests to use its facilities.</p><br>
					<p>A person who negligently or intentionally causes damage to the Amtz's  Villa or any furniture or
						furnishings within the Amtz's  Villa, shall be liable for damages sustained by the Amtz's  Villa
						staff, including the Amtz's Villa's loss of revenue resulting from the inability to rent or lease rooms
						while the damage is being repaired.</p><br>
					<h6>THE  AMTZ’S VILLA MANAGEMENT RESERVES TO ITSELF THE RIGHT TO ADD TO, OR ALTER OR AMEND ANY OF
						THE ABOVE TERMS, CONDITIONS AND RULES WHICH ARE A PART AND AN ABSTRACT OF THE LODGING ACT.</h6><br><br>
					<h5>Last Updated: 05-MARCH-2022</h5>
				</div>
				<!-- END COL -->

			</div>

		</div>
	</section>
{%endblock%}