{% extends 'index.html' %}
{%block title%}Buy Products | Medical Technology AMTZ{% endblock %}
{%block content%}
{% load static %}
{% load mathfilters %}
{% load custom_tags %}
    <section id="centers" class="section-padding top bg-gray centers">
    <div class="container">
        <div id="tabsJustifiedContent" class="tab-content">
            <div id="one" class="tab-pane animated fadeInRight active show">
                <div class="row">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        {% for product in product_details%}
                     <div class="card-body text-center">
                         <div class="row text-center">
                         <div class="col-md-3" style="margin-left:100px;">
                             <img class="img-product" src="{{product.product_image.url}}"  alt="{{product.product_name}}" title="{{product.product_name}}"/>
                         </div>
                              <div class="col-md-7">
                                  <div class="row">
                                  <div style="background-color:green;
                                  border-radius: 29px;
                                   width: 60px;
                                   height: 56px;
                                   margin-left: 79px;">
                                      <i class="fa fa-check" aria-hidden="true" style="color:white"></i>
                                  </div>
                                  <h4 style="margin: 10px;">Added to Cart</h4>
                                  </div>
                                  {% if msg %}
                                  <div class="mt-4 alert alert-success alert-dismissible fade show" id="message_success" role="alert">
                            <strong>{{msg}} {{product.product_name}}</strong>
                                </div>
<!--                                  <span style="margin-top: 20px;" class="badge badge-info"></span>-->
                                  {% endif %}
                                  <h5 style="margin-top: 20px;"> {{product.product_name}}</h5>
                                  <a href="/cart/" ><button type="button" class="btn btn-warning"
                                             style="border-radius:20px; cursor:pointer">
                                      <b>Go to Cart</b>
                                  </button></a>

                         </div>

                     </div>
                        </div>
                        {%endfor%}

                        </div>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="card">
           <br> <h4 class="ml-2" >Products related to this item</h4><br>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="row product-base text-center">
                    {%for category in categories%}
                    <div class="col-lg-3 col-md-4 col-sm-9 col-12 text-center">
                <a href="/products/{{category.product_name|replace_name}}/{{category.pk}}/">
                            <div class=" card single-service h-90" style="height: 353px;">
                                <div class="card-header p-0" style="height:200px;">
                                    {% if category.product_image%}
                                    <img class="img-product" style="padding:0%;" src="{{category.product_image.url}}"
                                        alt="{{category.product_name}}" title="{{category.product_name}}" />
                                    {% endif %}
                                </div>
                                <div class="card-body text-left" style="height: 112px;">
                                    <h6>{{category.product_name}}</h6>
                                    <div class="text-left">
<!--                                        IF Discount type is rupees-->

                                        {% if category.discount_type == 'Rs'%}
                                        <h6 style="font-size:14px;">Price : <strike>₹{{category.product_price}}.00</strike>
                                            <span>₹{{category.product_price|sub:category.discount_amount_or_per}}</span>
                                            <span class="badge badge-success " style="font-size:12px;">
                                                {{category.discount_amount_or_per}} {{category.discount_type}} Off</span>
                                            {% if category.gst != '0'%}
                                            <small>+GST {{category.gst}}%</small>
                                        </h6>
                                            {%endif%}
                                            <!--  IF Discount type is Percentage  -->

                                        {% elif category.discount_type == '%' %}
                                            <h6>Price : <strike>₹{{category.product_price}}.00</strike>
                                            <span>₹{{category.product_price|percentage:category.discount_amount_or_per}}</span>
                                                <span class="badge badge-success " style="font-size:12px;">
                                                {{category.discount_amount_or_per}} {{category.discount_type}} Off </span>
                                            {% if category.gst != '0'%}
                                            <small>+GST {{category.gst}}%</small>
                                            {%endif%}
                                            </h6>
                                        {%else%}
<!--                                                If Discount Not apply-->
                                          <h6>Price : <span>
                                            {% if category.product_price != None %}
                                            ₹ {{category.product_price}}.00
                                            {% else %}
                                            N/A
                                           {% endif %}
                                          </span>
                                            {% if category.gst != '0'%}
                                            <span>+GST {{category.gst}}%</span>
                                            {%endif%}
                                        </h6>
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="card-footer m-0 p-0">
                                    <div class="row" style="margin-left:.5px;margin-right:.5px">

                                        <button type="button" class="col-lg-6 col-md-6 col-sm-6 col-6 btn btn-primary"
                                                style="border-radius:0" onclick="showModal('{{category.product_name}}','{{category.pk}}')"
                                               data-toggle="modal" data-target=".bd-example-modal-lg-1">
                                            <a style="color:white;font-weight: 500;" href="#"> Enquiry</a></button>

                                        <button type="button" class="col-lg-6 col-md-6 col-sm-6 col-6 btn btn-warning"
                                                style="border-radius:0">
                                            <a style="color:black;font-weight: 500;" href="/Add-cart/{{category.pk}}/"> Add to Cart</a></button>


                                    </div>
                                </div>


                            </div>
                        </a>
                    </div>
              {%endfor%}
                      </div>
          </div>

    </div>
    </div>
    </section>

{% endblock%}