{% extends 'index.html' %}
{%block title%}Open Auction Notice{% endblock %}
{%block content%}
{% load static %}
<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12">
					<div class="single-page-title">
						<h6>AMTZ</h6>
						<span></span>
						<h2>Open Auction Notice</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-12">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/">Home</a></li>
					  <li class="breadcrumb-item active">Open Auction Notice</li>
					</ol>                    
				</div>
              
			</div>
			
           
		</div>


       
</section>
<section style="margin-top: 360px;
    margin-bottom: 150px;">
    <div class="container text-center m-4">
    <div class=" text-center m-4">
		<h3 class="text-center">No Auction Notice are currently available.<br> Please keep checking this Page for future Auction</h3>
	</div>

 </div>
</section>



{% endblock %}