{% extends 'index.html' %}
{%block title%}Distributor Empanelment Form | AMTZ Health Technology India{% endblock %}
{% block meta_description%}
<meta name="description" content="Please fill in the distributor empanelment form completely along with necessary documents and send us an email to sales@amtz.in at medtech hub - healthtech">
 {% endblock %}
{%block content%}
{% load static %}
<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12">
					<div class="single-page-title">
						<h6>AMTZ</h6>
						<span></span>
						<h2>Distributor Empanelment Form</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-12">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/">Home</a></li>
					  <li class="breadcrumb-item active">Distributor Empanelment Form</li>
					</ol>
				</div>
			</div>
			<!-- end row-->
		</div>
</section>
<section class="pages cart-page section-padding">
		<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="whishlist-table table-responsive">
					<table class="table">
						<thead class="thead-inverse">
							<tr>
								<th>SI NO.</th>
								<th>Name</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center"><p>1</p></td>
								<td class="text-center"><p>Distributor Empanelment Form</p></td>
								<td class="text-center"><p>Please fill and email to  <b>sales@amtz.in</b></p> </td>
								<td class="text-center">
									<div class="cart-info ml-5">
										<a href="{%static 'publication/distributor/distributor-empanelment-form-andhra-pradesh-medtech-zone.pdf'%}"
											target="_blank"><button class="btn btn-primary"class="btn btn-primary"
										style="cursor:pointer">View/Download</button>
										</a>
									</div>
								</td>
							</tr>


						</tbody>
					</table>
				</div>
			</div>
			<!-- END COL -->

		</div>

	</div>
	</section>
{%endblock%}