{% extends 'index.html' %}
{%block title%}Incentive Scheme{% endblock %}
{%block content%}
{% load static %}
<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
	<div class="auto-container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-12">
				<div class="single-page-title">
					<h6>AMTZ</h6>
					<span></span>
					<h2>Incentive Scheme</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active">Incentive Scheme</li>
				</ol>
			</div>

		</div>


	</div>

</section>

<section class="pages cart-page section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="section-title">
					<h3>Incentive Scheme</span></h3>
					<span class="line"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="whishlist-table table-responsive">
					<table class="table">
						<thead class="thead-inverse">
							<tr>
								<th>SI NO.</th>
								<th>Subject</th>
								<th>View/Download</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Incentive Scheme for Electronics</td>
								<td>
									<div class="cart-info ml-5">
										<a href="{%static 'img/pdf/incentive-scheme-for-electronics.pdf' %}"
											target=" _blank">View/Download</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END COL -->

		</div>

	</div>
</section>


{%endblock%}