{% extends 'index.html' %}
{%block title%}Right to Information | Andhra Pradesh MedTech Zone | AMTZ{% endblock %}
{% block meta_description%}
<meta name="description" content="Right to access information under the freedom of RTI Act for Andhra Pradesh MedTech Zone Ltd">
 {% endblock %}
{%block content%}
{% load static %}
<style>
	.center.rti-info ul li {
		float: left;
	}
</style>
<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
	<div class="auto-container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-12">
				<div class="single-page-title">
					<h6>AMTZ</h6>
					<span></span>
					<h2>Right to Information</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active">Right to Information </li>
				</ol>
			</div>

		</div>


	</div>

</section>

<section class="pages cart-page section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="section-title">
					<h3>Right to Information</span></h3>
					<span class="line"></span>
				</div>
			</div>
			<div class="rti-info col-lg-6 col-md-10 col-sm-12 col-12 mt-2">
				<h5>Public Information Officer:</h5>
				<ul>
					<li>Vivekananda Sahoo</li>
					<li>Head - Digital Services</li>
					<li>Andhra Pradesh MedTech Zone</li>
					<li>AMTZ Campus, Pragati Maidan</li>
					<li>VM Steel Plant SO.</li>
					<li>Visakhapatnam – 530031</li>
					<li>Email: vivekananda.s@amtz.in</li>


				</ul>

			</div>
			<div class="rti-info col-lg-6 col-md-10 col-sm-12 col-12">
				<h5>Appellate Authority:</h5>
				<ul>
					<li>Dr Jitendra Sharma</li>
					<li>Managing Director & CEO</li>
					<li>Andhra Pradesh MedTech Zone</li>
					<li>AMTZ Campus, Pragati Maidan</li>
					<li>VM Steel Plant SO.</li>
					<li>Visakhapatnam – 530031</li>
					<li>Email: administration@amtz.in</li>
				</ul>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-12">
				<div class="whishlist-table table-responsive">
					<table class="table">
						<thead class="thead-inverse">
							<tr>
								<th>SI NO.</th>
								<th>Subject</th>
								<th>View/Download</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>AMTZ- Right to Information (RTI)</td>
								<td>
									<div class="cart-info ml-5">
										<a href="{%static 'img/pdf/RTI-details-for-websie-.pdf' %}"
											target=" _blank">View/Download</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div> -->

	</div>
</section>

{%endblock%}