{% extends 'index.html' %}
{%block title%}Women Healthcare Startups Innovation, FemTech India | AMTZ{% endblock %}
{% block meta_description%}
<meta name="description" content="Introducing cutting edge femtech health technologies accelerating research innovation partnership to improve access and quality of healthcare for women globally">
 {% endblock %}
{%block content%}
{% load static %}
<section class="single-page-title-area" data-background="{%static 'img/bg/AMTZ_Campus.jpg'%}">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12">
					<div class="single-page-title">
						<h6>AMTZ</h6>
						<span></span>
						<h2>WOMEN’S HEALTH CARE STARTUPS FEMTECH</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-12">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/">Home</a></li>
					  <li class="breadcrumb-item active">WOMEN’S HEALTH CARE STARTUPS FEMTECH</li>
					</ol>                    
				</div>
              
			</div>
			
           
		</div>
       
</section>
<br>
 <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <div class="container1">
                        
						<img  class="img-fluid image1" src="{%static 'img/information/womenhealthflyer.jpg'%}"/>
						<div class="overlay">
							<button class="btn btn-warning" style="width:200px; height:60px;">
							<a style="color:black;font-weight: 600;" href="https://docs.google.com/forms/d/e/1FAIpQLSc0m1iCIcVZNjlpMrsZkqpIcJwGfqZFPjOn2R1uNVRFh5BlAg/viewform" target="_blank">Register Now</a>
						</button>
						</div>
                    </div>
                    
                </div>
                
			</div>
            <!--- END ROW -->
            
        </div><br>
        <!--- END CONTAINER -->
</section>  



{% endblock %}