{% extends 'index.html' %}
{%block title%} Reset Password {% endblock %}
{%block content%}
{% load static %}

	<div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
					{% if message %}
                                    <div class="alert alert-success alert-dismissible fade show" id="message_success"  role="alert">
                                        <strong>{{message}}</strong>
                                    </div>
                                    {% endif %}
						{% if error %}
                                    <div class="alert alert-danger alert-dismissible fade show" id="message_error"  role="alert">
                                        <strong>{{error}}</strong>
                                    </div>
                                    {% endif %}
	            <div class="forgot">
	                <h2>Reset your password</h2>
	                <p>Reset your password in Two easy steps. This will help you to secure your password!</p>
	                <ol class="list-unstyled">
	                    <li><span class="text-primary text-medium">1. </span>Enter your System Generated Password.</li>
	                    <li><span class="text-primary text-medium">2. </span>new password and Confirm Password Should be Same.</li>
	                </ol>
	            </div>
                <div class="card">
	            <form action="/reset-password/" method="post" id="myform" autocomplete="off" >
        {% csrf_token %}

        <div class="card-body">
                <div class="form-group col-lg-offset-4">
                     <div class="form-group col-lg-offset-4">
                    <label for="email">Email</label>
                    <input type="email" class="form-control " id="email" required
                           name="email" placeholder="enter register email" >
                </div>
                    <label for="Old Password">System Generated Password</label>
                    <input type="text" class="form-control " id="Old Password" required
                           name="old_password" placeholder="**********">
                    <input type="hidden" class="form-control " id="reset" value="reset"
                           name="reset_value" placeholder="**********">
                </div>
                <div class="form-group col-lg-offset-4">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control " id="password" required
                           name="new_password" placeholder="**********" >
                </div>
                <div class="form-group col-lg-offset-4">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control " id="confirm_password" required
                           name="confirm_password" placeholder="**********" onkeyup='check();'>
                    <span id='message'></span>
                </div>
                <div class="col-lg-offset-4">
                    <button type="submit" class="btn btn-success" id="submitButton" style="cursor:pointer">Reset Password</button>
                </div>
            </div>

    </form></div>
	        </div>
	    </div>
	</div>
<br>
<br>
<script>
        $(window).ready(function() {
        $("#myform").on("submit", function(){
        $("#submitButton").attr("disabled", true);

        })
        });

var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'Password Matched';
    document.getElementById('submitButton').disabled = false;
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'Password not Match';
    document.getElementById('submitButton').disabled = true;
  }
}
    </script>
 {%endblock%}