{% extends 'index.html' %}
{%block title%}Amphenol sensors {% endblock %}
{%block content%}
{% load static %}

<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
	<div class="auto-container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-12">
				<div class="single-page-title">
					<h6>AMTZ</h6>
					<span></span>
					<h2>Amphenol</h2>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12 col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active">Amphenol </li>
				</ol>
			</div>
		</div>
		<!-- end row-->
	</div>
</section>

<section class="section-padding">
	<div class="container">
		<div class="section-title">

			<div class="row">
				<div class="col-md-6 col-sm-6 col-lg-6">
					<img src="{%static 'img/amphenol/firstdeliver.png' %}" class="img-fluid" alt="">
					<p class="amphenol">Amphenol Sensors connecting your world through Sensing Innovations</p>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6">
					<img src="{%static 'img/amphenol/secondmanufacture-unit.png' %}" class="img-fluid" alt="">
					<p class="amphenol">Amphenol Sensors Manufacturing Facility in AMTZ, Visakhapatnam</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-lg-6">
					<img src="{%static 'img/amphenol/thridppt.png' %}" class="img-fluid" alt="">
					<p class="amphenol">Amphenol PCBA</p>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6">
					<img src="{%static 'img/amphenol/fourppt.png' %}" class="img-fluid" alt="">
					<p class="amphenol">Amphenol PCBA Assembly Capabilities at AMTZ, Visakhapatnam</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-lg-6">
					<img src="{%static 'img/amphenol/fiveppt.png' %}" class="img-fluid" alt="">
					<p class="amphenol">Amphenol Sensor and PCBA End to End Services</p>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6">
					<img src="{%static 'img/amphenol/sixamhenol.png' %}" class="img-fluid" alt="">
					<p class="amphenol">Amphenol PCBA Layout at AMTZ, Visakhapatnam</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-lg-6">
					<img src="{%static 'img/amphenol/sevenamhenol.png' %}" class="img-fluid" alt="">
					<p class="amphenol">Amphenol PCBA SMT Line at AMTZ</p>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6">
					<img src="{%static 'img/amphenol/eightppt.png' %}" class="img-fluid" alt="">
					<p class="amphenol">Sensors solutions from Amphenol</p>
				</div>
			</div>
		</div>
		<div class="amphenol-sensors">
			<h4>Amphenol Sensors is a leading innovator in sensor technologies and measurement solutions.</h4>
			<h5>For More Information on Amphenol Sensor products:</h5>
			<p>Amphenol Sensors Site Map:<a href="https://www.amphenol-sensors.com/en/sitemap">
					https://www.amphenol-sensors.com/en/sitemap</a></p>
			<p>Amphenol Medical Sensors :<a href="https://www.amphenol-sensors.com/en/medical-sensors">
					https://www.amphenol-sensors.com/en/medical-sensors</a></p>
			<p>Amphenol Sensor Solutions by Market :<a
					href="https://www.amphenolsensors.com/index.php/solutions-by-market/">
					https://www.amphenolsensors.com/index.php/solutions-by-market/</a></p>
			<p>Amphenol Sensor Solutions by Measurand :<a
					href="https://www.amphenolsensors.com/index.php/solutions-by-measurand/">
					https://www.amphenolsensors.com/index.php/solutions-by-measurand/</a></p>
		</div>
		<div class="section-title">
			<p>Contact Mail:<b> inquiry.amtz@amphenol-sensors.com</b></p>
		</div>
	</div>
</section>

{% endblock %}