{% extends 'index.html' %}
{%block title%}Manufacturing Incentives {% endblock %}
{%block content%}
{% load static %}
<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12">
					<div class="single-page-title">
						<h6>AMTZ</h6>
						<span></span>
						<h2>Innovation</h2>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-12">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/">Home</a></li>
					  <li class="breadcrumb-item active">Innovation </li>
					</ol>
				</div>
			</div>
			<!-- end row-->
		</div>
</section>

<section id="service" class="section-padding top bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h3>Our <span>Facilities</span></h3>
                        <span class="line"></span>
                        <p>The zone will provide for capital intensive scientific facilities required by most medical device manufacturers and 200+ modern state of the art independent manufacturing units. Government of Andhra Pradesh has developed270 acres of land for this project. The Zone would include the following facilities:</p>
                    </div>
				</div>
				<!-- end section title -->
                <div class="service-tab">
                    <ul id="tabsJustified" class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a href="#" data-target="#one" data-toggle="tab" class="nav-link active">
                                <i class="icofont icofont-energy-solar"></i> On Going Innovation Call
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" data-target="#two" data-toggle="tab" class="nav-link">
                                <i class="icofont icofont-fire-extinguisher-alt"></i> Past Innovation Call
                            </a>
                        </li>


                    </ul>
                    <div id="tabsJustifiedContent" class="tab-content">
                        <div id="one" class="tab-pane animated fadeInRight active show">
							<div class="row">
								  <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
									<div class="single-portfolio single-portfolio-fourth">
                                        <img class="img-fluid" src="{%static '/img/innovetion/past/Elderly_Care.jpg' %}" alt="" />
                                        <div class="mask">
                                            <div class="mask-po">
                                                <h4>Elderly Care Innovetion Call</h4>
                                                <a href="#" class="info"><i class="icofont icofont-link"></i></a>
                                                <a href="{%static '/img/innovetion/past/Elderly_Care.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont icofont-expand"></i></a>
                                            </div>
                                        </div>
					            	</div>
							    </div>
								<!-- end single service -->
								 <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
									<div class="single-portfolio single-portfolio-fourth">
                                        <img class="img-fluid" src="{%static '/img/innovetion/past/Women.jpg' %}" alt="" />
                                        <div class="mask">
                                            <div class="mask-po">
                                                <h4>Sensor Technology Demonstration for MedTech Application</h4>
                                                <a href="#" class="info"><i class="icofont icofont-link"></i></a>
                                                <a href="{%static '/img/innovetion/past/Women.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont icofont-expand"></i></a>
                                            </div>
                                        </div>
					            	</div>
							    </div>
								<!-- end single service -->
							</div>
                        </div>
                        <div id="two" class="tab-pane animated fadeInRight">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
									<div class="single-portfolio single-portfolio-fourth">
                                        <img class="img-fluid" src="{%static '/img/innovetion/past/3d.jpg' %}" alt="" />
                                        <div class="mask">
                                            <div class="mask-po">
                                                <h4>3D Bio Printing innovetion Call</h4>
                                                <a href="#" class="info"><i class="icofont icofont-link"></i></a>
                                                <a href="{%static '/img/innovetion/past/3d.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont icofont-expand"></i></a>
                                            </div>
                                        </div>
					            	</div>
							    </div>


								<!-- end single service -->
								<div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
									<div class="single-portfolio single-portfolio-fourth">
                                        <img class="img-fluid" src="{%static '/img/innovetion/past/additivemanufacturing.jpg' %}" alt="" />
                                        <div class="mask">
                                            <div class="mask-po">
                                                <h4>Call for Innovations on Additive manufacturing</h4>
                                                <a href="#" class="info"><i class="icofont icofont-link"></i></a>
                                                <a href="{%static '/img/innovetion/past/additivemanufacturing.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont icofont-expand"></i></a>
                                            </div>
                                        </div>
					            	</div>
							    </div>
								<!-- end single service -->
								<div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
									<div class="single-portfolio single-portfolio-fourth">
                                        <img class="img-fluid" src="{%static '/img/innovetion/past/BioPrinting.jpg' %}" alt="" />
                                        <div class="mask">
                                            <div class="mask-po">
                                                <h4>Bio-Printing Innovetion Call</h4>
                                                <a href="#" class="info"><i class="icofont icofont-link"></i></a>
                                                <a href="{%static '/img/innovetion/past/BioPrinting.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont icofont-expand"></i></a>
                                            </div>
                                        </div>
					            	</div>
							    </div>
								<!-- end single service -->
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
									<div class="single-portfolio single-portfolio-fourth">
                                        <img class="img-fluid" src="{%static '/img/innovetion/past/DigitalHealth.jpg' %}" alt="" />
                                        <div class="mask">
                                            <div class="mask-po">
                                                <h4>Digital Health Call for Innovetion</h4>
                                                <a href="#" class="info"><i class="icofont icofont-link"></i></a>
                                                <a href="{%static '/img/innovetion/past/DigitalHealth.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont icofont-expand"></i></a>
                                            </div>
                                        </div>
					            	</div>
							    </div>
								<!-- end single service -->

                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
									<div class="single-portfolio single-portfolio-fourth">
                                        <img class="img-fluid" src="{%static '/img/innovetion/past/INDO.jpg' %}" alt="" />
                                        <div class="mask">
                                            <div class="mask-po">
                                                <h4>India UK Innovetion Call</h4>
                                                <a href="#" class="info"><i class="icofont icofont-link"></i></a>
                                                <a href="{%static '/img/innovetion/past/INDO.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont icofont-expand"></i></a>
                                            </div>
                                        </div>
					            	</div>
							    </div>
								<!-- end single service -->
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
									<div class="single-portfolio single-portfolio-fourth">
                                        <img class="img-fluid" src="{%static '/img/innovetion/past/Manifacturing.jpg' %}" alt="" />
                                        <div class="mask">
                                            <div class="mask-po">
                                                <h4>AMTZ Innovetion Call manufacturing support for startups/ innovators</h4>
                                                <a href="#" class="info"><i class="icofont icofont-link"></i></a>
                                                <a href="{%static '/img/innovetion/past/Manifacturing.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont icofont-expand"></i></a>
                                            </div>
                                        </div>
					            	</div>
							    </div>
								<!-- end single service -->
                                 <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
									<div class="single-portfolio single-portfolio-fourth">
                                        <img class="img-fluid" src="{%static '/img/innovetion/past/Sensor_Technology.jpg' %}" alt="" />
                                        <div class="mask">
                                            <div class="mask-po">
                                                <h4>Sensor Technology Demonstration for MedTech Application</h4>
                                                <a href="#" class="info"><i class="icofont icofont-link"></i></a>
                                                <a href="{%static '/img/innovetion/past/Sensor_Technology.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont icofont-expand"></i></a>
                                            </div>
                                        </div>
					            	</div>
							    </div>
								<!-- end single service -->

							</div>
                        </div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>
		<!-- END CONTAINER -->
	</section>
	<!-- END SERVICE -->
    <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
    <script src="{% static 'js/jquery.meanmenu.min.js'% "></script>
    <script src="{%static 'js/jquery.mixitup.min.js'%}"></script>
    <script>
	  (function($) {
	   'use strict';
			jQuery(document).on('ready', function() {
				$('.portfolio-items').mixItUp();
			});
	  })(jQuery);
    </script>
	<link rel="stylesheet" href="{% static 'venobox/css/venobox.css'%}" />

{%endblock%}