{% extends 'index.html' %}
{%block title%}WHO Prequalification Cell at AMTZ for In-Vitro Diagnostics{% endblock %}
{% block meta_description%}
<meta name="description" content="To promote and facilitate access to safe, affordable and appropriate in-vitro diagnostic technologies and lab services of good quality to match global standards">
 {% endblock %}
{%block content%}
{% load static %}
<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
	<div class="auto-container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-12">
				<div class="single-page-title">
					<h6>AMTZ</h6>
					<span></span>
					<h2>Prequalifaction</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active">PreQualifaction</li>
				</ol>
			</div>
		</div>
		<!-- end row-->
	</div>
</section>
<section id="about" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 col-sm-12 col-12">
				<div class="section-title">
					<h3>WHO-Pre Qualification Cell at <span>AMTZ</span></h3>
					<span class="line"></span>
					<p>WHO announced AMTZ as a Support Cell for WHO Prequalification for In-Vitro Diagnostics (IVDx) on
						November 22nd 2017.The Cell would guide the IVD manufacturers from India and SEAR countries in
						getting their products prequalified and share the WHO expectations in this regard with
						manufacturers. This list of prequalified IVDx is used by international procurement agencies like
						UN Countries and WHO Member States and increasingly by countries to guide bulk purchasing of
						products.</p><br>
					<h4>Functions of the cell: </span></h4>
					<span class="line"></span>
					<ul>
						<li>Share WHO expectations for Prequalification (PQ) &Emergency Use Listing (EUL)with
							manufacturers.</li>
						<li>Engage early to provide guidance and information on specific requirements and needs for
							WHO-PQ/EUL</li>
						<li>Work with manufacturers and optimize the assessment process.</li>
					</ul>
				</div>

			</div>
			<!-- end col -->
			<div class="col-lg-5 col-md-12 col-sm-12 col-12">
				<div class="about-image">
					<img class="img-fluid" src="{%static 'img/service/Flyer.jpg'%}" alt="pre-qualification" />
				</div>
			</div>
			<!-- end col -->
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="section-title">
					<h4>Objectives of the cell:</h4>
					<span class="line"></span>
					<ul>
						<li>To promote and facilitate access to safe, affordable and appropriate in-vitro diagnostic
							technologies and laboratory services of good quality and in an equitable manner</li>
						<li>To accelerate assessment and increases chances of meeting PQ requirements</li>
						<li>Engage in advocacy, capacity building of manufacturers for their readiness for WHO PQ of
							IVDx.</li>
						<li>Provision of Quality Assurance programmes;</li>
						<li>Training and technical support.</li><br>
					</ul>
					<h4>Key Highlights: </span></h4>
					<span class="line"></span>
					<p>Assistance in filing of application for WHO-PQ for all in-house indigenous manufacturers
						producing priority disease in-vitro diagnostics as per the listing of WHO. Complete hand holding
						for all in-house indigenous manufacturers</p>

				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-1 col-12"></div>
			<div class="col-lg-6 col-md-10 col-sm-12 col-12 justify-content-center">
				<div class="who-image">
					<img class="img-fluid" src="{%static 'img/service/who-2.png'%}" alt="" />
				</div>

			</div>
			<div class="col-lg-3 col-md-1 col-12"></div>
		</div>
	</div>

</section>
<section class="who-advantages">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="section-title">
					<h3>Advantages of WHO-PQ: <span></span></h3>
					<span class="line"></span>
					<ul>
						<li>Affordability, Accessibility & Availability of Quality assured IVDx.</li>
						<li>Access to United Nations procurement agencies and global market.</li>
						<li>Eligibility for international, donor-sponsored tenders for IVDx.</li>
						<li>Improved capacity to manufacture products for entry into stringently-regulated markets</li>
						<li>Increased potential to compete successfully for contract manufacture for local markets.</li>
						<li>Enabler towards faster registrations & Regulatory approvals</li>
						<li>Improved image or brand status associated with producing quality-assured products.</li>

						<ul>
						</ul>
					</ul>
				</div>

			</div>
		</div>

		</div>
	</div>
</section>
<!--<section class="section-padding top">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-lg-12 text-center">-->
<!--				<div class="section-title">-->
<!--					<h3>Need Healp ? Contact Us</h3>-->
<!--					<span class="line"></span>-->
<!--					<i class="icofont icofont-map-pins"></i>-->
<!--					<p></p>-->
<!--				</div>-->
<!--			</div>-->
<!--			&lt;!&ndash; end section title &ndash;&gt;-->
<!--			<div class="mx-auto col-lg-10 mt-40">-->
<!--				<div class="contact">-->
<!--					<form id="contact-form" class="form" name="enq" method="POST" action="#">-->
<!--						<div class="row">-->
<!--							<div class="col-lg-6">-->
<!--								<div class="form-group col-lg-12">-->
<!--									<input type="text" name="name" class="form-control" id="firstname"-->
<!--										placeholder="Full Name" required="required">-->
<!--								</div>-->
<!--								<div class="form-group col-lg-12">-->
<!--									<input type="email" name="email" class="form-control" id="email"-->
<!--										placeholder="Enail Address" required="required">-->
<!--								</div>-->
<!--								<div class="form-group col-lg-12">-->
<!--									<input type="text" name="phone" class="form-control" id="phone"-->
<!--										placeholder="Phone Number" required="required">-->
<!--								</div>-->
<!--								<div class="form-group col-lg-12">-->
<!--									<input type="text" name="subject" class="form-control" id="Company"-->
<!--										placeholder="Organization/Institution Name" required="required">-->
<!--								</div>-->
<!--								<div class="from-group col-lg-12" <label class="form-label" for="customFile">-->
<!--									File</label>-->
<!--									<input type="file" class="form-control" id="customFile" />-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-lg-6">-->
<!--								<div class="form-group col-lg-12">-->
<!--									<input type="text" name="subject" class="form-control" id="Company"-->
<!--										placeholder="City" required="required">-->
<!--								</div>-->
<!--								<div class="form-group col-lg-12">-->
<!--									<textarea rows="10" name="message" class="form-control" id="description"-->
<!--										placeholder="Your Message" required="required"></textarea>-->
<!--								</div>-->

<!--								<div class="form-group col-lg-12 mb0">-->
<!--									<div class="actions">-->
<!--										<input type="submit" value="Send Message" name="submit" id="submitButton"-->
<!--											class="btn btn-lg btn-contact-bg"-->
<!--											title="Click here to submit your message!" />-->
<!--										<img src="assets/img/ajax-loader.gif" width="16" height="16" id="loader"-->
<!--											style="display:none" alt="loading">-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</form>-->
<!--				</div>-->
<!--			</div>-->



<!--		</div>-->
<!--		&lt;!&ndash; end row&ndash;&gt;-->
<!--	</div>-->
<!--</section>-->
{%endblock%}