{% extends 'index.html' %}
{%block title%}AMTZ India | Medical Technology Services, Healthcare Medtech {% endblock %}
{% block meta_description%}
<meta name="description" content="Centre for global healthcare services, medical imaging technology and solutions in order to diagnose, treat, care and monitor for the human beings in India">
 {% endblock %}
{%block content%}
{% load static %}
{% load custom_tags %}

<section class="single-page-title-area" data-background="{%static 'img/bg/medical devices.jpg'%}">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="single-page-title">
                    <h6>AMTZ</h6>
                    <span></span>
                    <h2>Our Services</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Our Services</li>
                </ol>
            </div>
        </div>
        <!-- end row-->
    </div>
</section>
<section id="centers" class="section-padding top bg-gray centers">
    <div class="container">
        <div id="tabsJustifiedContent" class="tab-content">
            <div id="one" class="tab-pane animated fadeInRight active show">
                <div class="row">
                    {% for service in services%}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center" style="max-height:50%">
                        <div class="single-service">
                            <div class="single-service-img" STYLE="box-shadow: 1px 1px 1px 0px  #bfbaba;" >
                                <img  style="height:200px; width:265px;"
                                     src="{{service.service_image.url}}" alt="{{service.image_alt}}"/>
                            </div>
                            <div class="single-service-info" style="min-height:292px">
                                <h4>{{service.service_title}}</h4>
                                <p style="text-align:justify">{{service.service_description|truncatewords:20}}</p>

<!--                                <a class="serv-red-btn" href="{{service.service_link}}" target="_blank">Visit</a>-->

                                <a class="serv-red-btn" href="service-details/{{service.service_title|replace_name}}/?key={{service.pk}}">Read More</a>

                                <!--											<a class="serv-red-btn" href="/centerDetails/?youtubekey={{center.pk}}">Know More</a>-->
                            </div>
                        </div>
                    </div>
                    {%endfor%}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}