{% extends 'index.html' %}
{%block title%}Terms & Conditions | AMTZ Health Technology | MedTech India{% endblock %}
{% block meta_description%}
<meta name="description" content="Please read these terms and conditions carefully before use the website or its content, products, services and technology in medical and healthcare India">
 {% endblock %}
{%block content%}
{% load static %}
<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12">
					<div class="single-page-title">
						<h6>AMTZ</h6>
						<span></span>
						<h2>Terms & Conditions</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-12">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/">Home</a></li>
					  <li class="breadcrumb-item active">Terms & Conditions</li>
					</ol>
				</div>
			</div>
			<!-- end row-->
		</div>
</section>
<section class="pages cart-page section-padding">
		<div class="auto-container">
			<div class="row">
				<div class="col-12 p-4 ml-4">
					<h3>Terms & Condition</h3>
					<h5>1. AGREEMENT TO TERMS</h5><br>
					<p>These Terms constitute a legally binding agreement made between you,
						whether personally or on behalf of an entity ("you" , “user”, “patient” or “requester”) and Andhra Pradesh MedTech Zone (“AMTZ”, "we," "us" or "our"), concerning your access to and use of the AMTZ Website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the "platform/portal"). If you do not agree with all or any of these Terms of Use, then you are expressly prohibited from using the platform/portal and you must discontinue use immediately. We will alert you about any changes by updating the "Last updated" date of these Terms of Use, and you waive any right to receive specific notice of each such change. It is your responsibility to
						periodically review these Terms of Use to stay informed of updates.
						You will be subject to and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms of Use by your continued use
						of the platform/portal after the date such revised Terms of Use are posted.</p><br>
					<h5>2. YOUR USE OF THE SERVICES</h5><br>
					<p>User Accounts.</p><br>
					<p>The party shall be competent to contract and/or must be authorized to enter into such contract as per the laws for the time being in force.</p><br>
					<p>Information provided shall be accurate and user shall be liable for consequences of such inaccurate information. You give consent to us to collect data entered into the application.</p><br>
					<p>The agreement shall be valid only if the concentrators have been directly obtained from AMTZ/provider using the platform.</p><br>
					<h5>3. PRODUCTS</h5><br>
					<p>Products are subject to availability. Vendor shall not bear liability for variation in physical features attributed to electronic display of devices or functionality of the devices.</p><br>
					<h5>4. PURCHASES AND PAYMENT</h5><br>
					<p>Taxes shall be extra as applicable.</p><br>
					<h5>5. DISCLAIMERS; LIMITATION OF LIABILITY; INDEMNITY</h5><br>
					<p><b>DISCLAIMER:</b>AMTZ is merely a facilitating platform. In no case shall it be construed or implied as an agent or intermediary and shall bear no such liability in that capacity. This platform is only for personal use by consumers.</p><br>
					<h5>CANCELLATION & REFUND POLICY</h5><br>
					<p>In case of payment failure at the time of payment,
						automatically amount would be refunded in the same mode of payment within 5-7 working days. No Refund would be made after the product is dispatched.</p><br>

					<h5>LIMITATION OF LIABILITY</h5><br>
					<p>Clients shall be responsible for their actions and consequences arising out of the same in their transactions while using the Products. AMTZ DOES NOT PROVIDE ANY TYPE OF INSURANCE or SURETY BOND FOR THE SERVICES PROVIDED.</p><br>
				<p>AMTZ SERVICES MAY BE USED BY YOU TO REQUEST AND SCHEDULE TRANSPORTATION,
					GOODS, OR LOGISTICS SERVICES WITH THIRD PARTY CUSTOMERS, BUT YOU AGREE THAT
					AMTZ HAS NO RESPONSIBILITY OR LIABILITY TO YOU RELATED TO ANY TRANSPORTATION,
					GOODS OR LOGISTICS SERVICES PROVIDED TO YOU BY THIRD PARTY CUSTOMERS OTHER THAN AS EXPRESSLY SET FORTH IN THESE TERMS.</p><br>
					<h5>Dispute resolution:</h5><br>
					<p>Any claim or dispute arising out of the use of the products or the portal/platform shall be referred to a sole arbitrator appointed by AMTZ.
						Place of arbitration shall be Visakhapatnam and the proceedings shall be in English.</p><br>
					<p>However, the party shall be entitled to raise a dispute only after clearing the dues payable by such party.</p><br>
				<h5>Last Updated: 14-DEC-2021</h5>
				</div>
				<!-- END COL -->

			</div>

		</div>
	</section>
{%endblock%}