{% extends 'index.html' %}
{%block title%}SKILL LYNC{% endblock %}
{%block content%}
{% load static %}
<section class="single-page-title-area" data-background="{%static 'img/bg/page-banner.jpg'%}">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12">
					<div class="single-page-title">
						<h6>AMTZ</h6>
						<span></span>
						<h2>Training - Skill-lync</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-12">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/index/">Home</a></li>
					  <li class="breadcrumb-item active">Skill-lync</li>
					</ol>
				</div>
			</div>
			<!-- end row-->
		</div>
</section>
<section class="pages cart-page">
		<iframe src="{%static 'img/pdf/PG Med Tech-Flyer.pdf'%}" width="100%" height="1000px"  allowtransparency="true" style="background: #FFFFFF;"  bastyle="background-color: white;"></iframe>
	</div>
	<br><br>
	<div class="text-center">
		<a href="https://skill-lync.com/mlp/executive-masters-medical-technology" target="_blank"
		   class="btn btn-primary ml-4" style="color:white">
		Registration
	</a>
	</div><br><br>
	</section>
{%endblock%}